body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    background: #1C1C1C;
    display: flex;
    flex-direction: column;
    padding: 115px 52px;
    color: white;
}

h1 {
    font-size: 2rem;
}

.highlight {
    color: #4ADF86;
}
